@model IEnumerable<Project5.Models.Customer>
@section jQ
{
    @Html.Partial("PartialjQTable")
}
<h2>Customers</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <Input type="submit" value="Search" />
    </p>
}
<table class="footable" data-page-navigation=".pagination" data-page-size="10">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_First_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Last_Name)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Phone_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_First_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer_Last_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone_number)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Customer_Id })
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10">
                <div class="pagination pagination-centered"></div>
            </td>
        </tr>
    </tfoot>
</table>
